#partNum {
    color: black;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
}

#urlLink{
    color: blue;
    font-wiight: bold;
    font-size:  24px;
    text-align:  center;
}
